body {
  font-family: andale mono, courier new, monospace;
}
h1 {
  margin-bottom: 0;
}
#info {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 3px;
  font-size: 12px;
}
#assignment {
  display: inline-block;
  float: left;
  background: #eeeeee;
  padding: 10px;
  width: 500px;
  .heading {
    h2 {
      text-decoration: underline;
    }
    .description {
      margin-top: 10px;
      text-decoration: none;
    }
    margin-bottom: 10px;
  }
  .code {
    width: 90%;
    display: block;
    height: 400px;
    font-size: 20px;
  }
  .run {
    font-size: 20px;
  }
  .navi {
    margin-top: 10px;
    a {
      cursor:pointer;
      color: blue;
      &.next {
        float: right;
      }
    }
  }
}
#output {
  display: inline-block;
  float: left;
  height: 100%;
  width: 300px;
  #visualizer {
    svg {
      height: 60px;
    }
  }
  .result {
    font-size: 30px;
    &.fail { color: red; }
    &.success { color: #008800; }
  }
}
